name: CI

on: [push]

jobs:
  formatting:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5

      - run: uv run black --check .

  linting:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5

      - run: uv run flake8 src/yte

  testing:
    needs:
      - formatting
      - linting
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        poetry-version: ["1.1"]
    runs-on: ubuntu-22.04
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      # Workaround needed to solve numpy error:
      # Backend 'setuptools.build_meta:__legacy__' is not available
      # The error occurs with python 3.12
      # TODO maybe remove in the future.
      # - name: Install numpy dependencies
      #   run: sudo apt-get update && sudo apt-get install -y build-essential libblas-dev liblapack-dev gfortran
      # - name: Setup cython
      #   run: pip install cython

      - name: Run pytest
        run: uv run coverage run -m pytest

      - name: Run Coverage
        run: uv run coverage report -m